{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <title>Calgary Mobile Wills</title>
    <style>
        a.nav-link {
            color: rgb(111, 53, 212);
        }
        a.nav-link:hover {
            color: rgb(63, 29, 122);
        }
        .background {
            background-image: url("{% static 'images/hero.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .btn-primary {
            background-color: rgb(111, 53, 212) !important;
            border-color: rgb(111, 53, 212) !important;
        }
        .btn-primary:hover,
        .btn-primary:active,
        .btn-primary:visited,
        .btn-primary:focus {
            background-color: rgb(72, 34, 138) !important;
            border-color: rgb(72, 34, 138) !important;
        }
        .accordion-button:not(.collapsed) {
            color: rgb(93, 63, 211);
            background-color: rgb(247, 247, 252);
        }
        .emphasis {
            font-weight: 600;
            color: rgb(112, 41, 99);
        }
        #price, #faq, #contact {
            scroll-margin-top: 90px;
        }
    </style>
</head>
<body style="font-family: 'Nunito', sans-serif;">

    <!--navbar-->
    <nav class="navbar navbar-expand-lg sticky-top" style="background-color: rgb(247, 247, 252);">
        <div class="container-fluid">
            <a class="navbar-brand" href="https://www.calgarymobilewills.ca" target="_top"><h1 style="font-weight: 800; color: rgb(63, 29, 122);">Calgary Mobile Wills</h1></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#top">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#price">Services & Prices</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#faq">Common Questions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact us</a>
                    </li>
                    <!--<li class="nav-item">-->
                    <!--    <a class="nav-link disabled text-dark" href="#" tabindex="-1" aria-disabled="true">Mobile Service: We will come to you!</a>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" id="begin">

        <!--Hero-->
        <div class="row mt-5">
            <div class="col p-5 background">
                <div class="text-white p-2" style="background-color:rgba(0, 0, 0, 0.4)">
                    <p class="display-1">Write Your Will, Write Your Story</p>
                    <p class="display-5 font-weight-bold">Let us help you leave a legacy</p>
                </div>
            </div>
        </div>

        <!--Jack and Sarah's Story-->
        <p class="mt-3">
            <!-- <a class="btn btn-outline-dark" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Jack's Story</a>
            <button class="btn btn-outline-dark" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Sarah's Story</button> -->
            <button class="btn btn-outline-dark" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2" style="border-radius: 0.25rem;">View Jack & Sarah's stories</button>
        </p>
        <div class="row my-3">
            <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
                <div class="card card-body">
                    <strong>Jack's Story</strong><br><br>

                    Once upon a time, there was a man named Jack who had a wife and two children. Jack was a successful business owner and had worked hard to provide for his family.<br><br>

                    One day, Jack unexpectedly passed away due to a heart attack. His wife and children were devastated and overwhelmed with grief. As they tried to cope with their loss, they soon discovered that Jack had not made a will.<br><br>

                    This meant that they had to go through a lengthy and complicated legal process to settle Jack's estate. They had to hire lawyers and spend a lot of time and money trying to figure out how to distribute Jack's assets and debts.<br><br>

                    It was a difficult time for Jack's family. They were already dealing with the emotional pain of losing him, and now they had to navigate the complex legal system on top of that.<br><br>

                    If Jack had made a will, it would have made things much easier for his family. They would have known exactly what his wishes were and how to distribute his assets without any confusion or dispute.<br><br>

                    Jack's wife and children learned a valuable lesson about the importance of making a will. They realized that it's not just about protecting your assets, but it's also about making things easier for your loved ones after you're gone.<br><br>

                    From that day forward, they made sure to encourage everyone they knew to make a will, no matter how young or healthy they were. They knew that it was the responsible and caring thing to do, and it would save their loved ones from unnecessary stress and hardship in the future.
                </div>
            </div>
            </div>
            <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample2">
                <div class="card card-body">
                    <strong>Sarah's Story</strong><br><br>

                    Once there was a woman named Sarah who had a successful career and a loving family. Sarah was always responsible with her finances, and she knew that making a will was an important step to ensure that her family would be taken care of after she was gone.<br><br>

                    Sarah worked with an attorney to make a will that reflected her wishes and provided for her family's future. She felt a sense of relief knowing that everything was taken care of, and she could rest easy knowing that her affairs were in order.<br><br>

                    Years passed, and Sarah grew old gracefully, surrounded by her family and loved ones. One day, she passed away peacefully in her sleep, having lived a long and fulfilling life.<br><br>

                    Thanks to Sarah's careful planning, her family was able to easily and quickly settle her estate. Her will provided clear instructions for how her assets should be distributed, which saved her family from any unnecessary legal battles or confusion.<br><br>

                    Sarah's family was grateful for her foresight and responsible planning. They knew that her will was a tangible way for her to express her love and care for them, even after she was gone.<br><br>

                    Sarah's story is a powerful example of how making a will can benefit someone and their family. It not only ensures that their wishes are carried out, but it also saves their loved ones from the stress and confusion of managing their estate.
                </div>
            </div>
            </div>
        </div>

        <!--Request questionnaire-->
        {% if not requested %}
        <h2 class="mt-3">Request Free Questionnaire</h2>
        <div class="row border border-dark p-3 m-1 mb-5">
            <div class="text-center btn-group-vertical p-1 col-md-6">
                <h4 style="line-height: 1.5em;">Fill out the form and you will get a <span class="emphasis">FREE</span> questionnaire that creates <span class="emphasis">Your Own Will</span> with your clear instructions.</h4>
            </div>
            <div class="col-md-6">
                <form method="post">{% csrf_token %}
                    <div class="form-group mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" name="name" class="form-control" id="name" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" required>
                        <div id="emailHelp" class="form-text">We'll never share your information with anyone else.</div>
                    </div>
                    <input type="submit" class="btn btn-primary mb-2" name="questionnaire" value="Request questionnaire" style="background-color: purple;">
                </form>
            </div>
        </div>
        {% endif %}


        <!--Price-->
        <h2 id="price" class="mt-3">Services & Prices</h2>
        <div class="table-responsive shadow rounded-3 mb-5">
        <table class="table border-light">

        <thead class="align-middle">
            <tr class="text-center">
            <th scope="col"></th>
            <th colspan="2"><strong>Our Price</strong></th>
            <th colspan="2">Industry Average Price</th>

            </tr>
        </thead>
        <tbody class="align-middle">
            <tr class="border-bottom border-dark-subtle">
                <th scope="row"></th>
                <td class="text-center"><strong>Individual</strong></td>
                <td class="text-center"><strong>Couple</strong></td>
                <td class="text-center">Individual</td>
                <td class="text-center">Couple</td>
            </tr>

            <tr>
                <th scope="row">Simple Will</th>
                <td class="text-center"><strong>$ 400</strong></td>
                <td class="text-center"><strong>$ 500</strong></td>
                <td class="text-center">$ 700</td>
                <td class="text-center">$ 800</td>
            </tr>

            <tr>
                <th scope="row">Enduring Power Of Attorney</th>
                <td class="text-center"><strong>$ 200</strong></td>
                <td class="text-center"><strong>$ 300</strong></td>
                <td class="text-center">$ 400</td>
                <td class="text-center">$ 500</td>
            </tr>

            <tr>
                <th scope="row">Personal Directive</th>
                <td class="text-center"><strong>$ 200</strong></td>
                <td class="text-center"><strong>$ 300</strong></td>
                <td class="text-center">$ 400</td>
                <td class="text-center">$ 500</td>
            </tr>

            <tr style="background-color: rgb(230, 230, 250);">
                <th scope="row">Estate Package<br>(All of the three above)</th>
                <td class="text-center"><strong>$ 500</strong></td>
                <td class="text-center"><strong>$ 700</strong></td>
                <td class="text-center">$ 900</td>
                <td class="text-center">$ 1100</td>
            </tr>

            <tr>
                <th scope="row">Notary Services</th>
                <td colspan="2" class="text-center">$ 49 for the first notary signature, $ 10 for each additional notary signature</td>
                <td colspan="2" class="text-center">-</td>
            </tr>
        </tbody>
        </table>
    </div>

        <!--FAQ-->
        <h2 id="faq" class="mt-3 mb-3">Frequently Asked Questions</h2>
        <div class="row mb-3">
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            <strong>What is a will and why do I need one?</strong>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body">
                            A will is a legal document that outlines your wishes regarding how your property and assets should be distributed after your death. It also allows you to appoint a person to manage your estate (an executor) and take care of your minor children (a guardian). Creating a will is important because it ensures that your property and assets are distributed according to your wishes and can help prevent disputes among family members.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                            Why Calgarymobilewills?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                        <div class="accordion-body">
                            <ul>
                                <li>Our business is led by a lawyer with 6 years of experience in the legal field, so you can trust that your will is being crafted with the utmost attention to detail and legal accuracy.</li><br>
                                <li>We take the time to listen to your specific needs and requests, and work closely with you to create a will that accurately reflects your wishes and priorities.</li><br>
                                <li>We understand that mobility can sometimes be an issue for our clients, which is why we offer home visits to ensure that the process is as convenient and stress-free as possible.</li><br>
                                <li>We believe that everyone should have access to high-quality will services, which is why we offer competitive pricing and transparent fees with no hidden costs.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                            What are the legal requirements for a valid will?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        <div class="accordion-body">
                            The legal requirements for a valid will vary depending on the province/state or country in which you live. In Alberta, a valid will must be in writing, signed by the testator (the person making the will) and witnessed by two people who are not beneficiaries or spouses of beneficiaries. The testator must also be of legal age and have the capacity to make a will. It’s always best to consult a lawyer to discuss what the legal requirements are for a will in your province/state or country.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                            Do I need witnesses to sign my will?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        <div class="accordion-body">
                            Yes, In Alberta witnesses are required to sign your will in order for it to be considered valid. The witnesses must be present when you sign the will and must also sign the will themselves. Our services will provide witnesses for you.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                            How many witnesses do I need to sign my will?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                        <div class="accordion-body">
                            The number of witnesses required to sign a will may vary depending on which province/state or country you live in. In Alberta, you will need two witnesses to sign your will. It’s always best to consult a lawyer to discuss what the legal requirements are for witnessing a will in your province/state or country.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
                            Who can be a witness to my will?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
                        <div class="accordion-body">
                            The witnesses to your will must be adults who are of legal age and who are not beneficiaries or spouses of beneficiaries of the will. This is to avoid any conflicts of interest and/or undue influence and ensure that the will is executed according to the testator's wishes.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingNine">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseNine" aria-expanded="false" aria-controls="panelsStayOpen-collapseNine">
                            Where do I have to go to sign a will?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseNine" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingNine">
                        <div class="accordion-body">
                            Typically, you go to your lawyers office to sign a will, however our services are mobile and we will come to you!
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTen" aria-expanded="false" aria-controls="panelsStayOpen-collapseTen">
                            My mobility is limited, can I request to sign a will in my own place?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTen" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTen">
                        <div class="accordion-body">
                            We are aware that not everyone is mobile, we will come to your place.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingEleven">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEleven" aria-expanded="false" aria-controls="panelsStayOpen-collapseEleven">
                            What should I do with my original signed will?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseEleven" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingEleven">
                        <div class="accordion-body">
                            The original signed will should be kept in a safe and secure location such as a fireproof safe or safety deposit box. You should also inform your executor and loved ones of the location of the original will.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwelve">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwelve" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwelve">
                            Can I make changes to my will after it's been signed?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwelve" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwelve">
                        <div class="accordion-body">
                            Yes, you can make changes to your will after it's been signed, but the changes must be made in accordance with your province’s/state’s or country’s laws. In Alberta, an amendment to a will involves a new document, called a codicil, which outlines the changes to the original will. The new document must also be signed and witnessed in accordance with the same legal requirements as signing a will. It's important to consult with a lawyer to ensure that any changes to your will are legally valid.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingFourteen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFourteen" aria-expanded="false" aria-controls="panelsStayOpen-collapseFourteen">
                            How often should I update my will?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFourteen" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFourteen">
                        <div class="accordion-body">
                            You should update your will whenever there's a major life event, such as a marriage, divorce, birth of a child, or a significant change in your assets. It's also a good idea to review your will every few years to ensure that it still reflects your wishes.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingFifteen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFifteen" aria-expanded="false" aria-controls="panelsStayOpen-collapseFifteen">
                            How can I ensure my will is respected after my death?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFifteen" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFifteen">
                        <div class="accordion-body">
                            To ensure that your will is respected after your death, it's important to choose a responsible and trustworthy executor who will follow your wishes.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingSixteen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSixteen" aria-expanded="false" aria-controls="panelsStayOpen-collapseSixteen">
                            How can I make sure my will is not challenged or contested?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseSixteen" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSixteen">
                        <div class="accordion-body">
                            To help prevent your will from being challenged or contested, it's important to ensure that it's legally valid and reflects your wishes. You should also be transparent about your intentions and communicate with your loved ones to help prevent misunderstandings. Additionally, you may want to include a "no contest" clause in your will, which disinherits any beneficiary who contests the will. It's important to consult with a lawyer to ensure that your will is legally valid.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Contact-->
        <h2 id="contact" class="mt-4">Contact us</h2>
            <div class="container mb-4 py-3 border border-1">
        <form method="post">{% csrf_token %}

            <div class="mb-3">
            <label class="form-label" for="contact_name">Name</label>
            <input class="form-control" id="contact_name" type="text" name="contact_name" required>
            </div>

            <div class="mb-3">
            <label class="form-label" for="contact_email">Email Address</label>
            <input class="form-control" id="contact_email" type="email" name="contact_email" required>
            </div>

            <div class="mb-3">
            <label class="form-label" for="contact_message">Message</label>
            <textarea class="form-control" id="contact_message" type="text" name="contact_message" style="height: 10rem;" required></textarea>
            </div>

            <div class="d-grid">
            <input class="btn btn-primary btn-lg" name="contact" type="submit" value="Send Message">
            </div>
        </form>
    </div>

        <!--Footer-->
        <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-12 d-flex align-items-center">
                <a href="https://www.calgarymobilewills.ca" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    Calgary Mobile Wills
                </a>
                <span class="mb-3 mb-md-0 text-muted">© 2023 Calgary Mobile Wills</span>
            </div>

            <!--<ul class="nav col-md-4 justify-content-end list-unstyled d-flex">-->
            <!--  <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>-->
            <!--  <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>-->
            <!--  <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>-->
            <!--</ul>-->
        </footer>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>